body {
	margin: 0;
	font-family: monospace;
	background: #111;
	color: #eee;
}

#container {
	display: flex;
	height: 100vh;
}

#raw {
	width: 50%;
	padding: 10px;
	border-right: 1px solid #444;
	overflow-y: auto;
	white-space: pre;
	color: #0f0;
}

#parsed {
	width: 50%;
	padding: 10px;
}

.label {
	color: #888;
}

.value {
	color: #fff;
	font-weight: bold;
}
